

.item{
  display:inline-block;
  border:1px solid black;
  border-radius: 25px;
  margin: 2.5px;
  padding:5px;
  background-color:rgb(196, 240, 196);
  color:black;
  width:300px;
  text-align:justify;
  word-wrap: break-word;
}
#input{
  border:1px solid black;
}
#button-addon2{
  background-color:rgb(196, 240, 196);
  color:black;
}